Spring:
  application:
    name: BMS Monolith
  datasource:
    url: jdbc:mysql://localhost:3306/bms
    username: ${DB_USERNAME:root}
    password: ${DB_PASSWORD:root}
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect
    hibernate:
      ddl-auto: update
    show-sql: true
server:
  servlet:
    context-path: /api/v1